body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #4CAF50;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

p {
    color: #4CAF50;
}

.resources, .buildings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.building {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    flex: 1 1 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.building h2 {
    margin: 0;
    color: #4CAF50;
}

.building button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-btn {
    flex: 1;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}
